# Blocklist files/folders in same directory as the .gitignore file
/*

# Includelist some files
!.gitignore
!README.md

# Ignore all files named .DS_Store or ending with .log
**/.DS_Store
**.log

# important files from root
!.zshrc
!.gitconfig
!.hyper.js

!.config/
.config/*
!.config/nix/
.config/nix/*
!.config/nix/flake.nix
!.config/nix/flake.lock

# for submodule
!.gitmodules
!.zgenom/
!.zgenom/*